<ul>
<% @patients.each do |p| %>
<li>Name: <%= link_to p.name, patient_path(p)%> Number of Appointments: <%= p.appointments.count %></li><br />
<% end %>
</ul>


  <%# #index page
    lists all of the patients and the number of appointments they have 
