<h1><%= @doctor.name %>'s Appointments</h1>

<% @doctor.appointments.each do |appointment| %>
<h3>Patient: </h3>
     <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
<h3>Time: </h3>
    <%= appointment.appointment_datetime.strftime('%B %d, %Y at %H:%M') %>
    <% end%>